<!-- <ion-header>
  <ion-toolbar color="dark">
    <ion-title>ISPM</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-row>
	<img class="center-image" src="/assets/rajib.jpg" style="border: 1px">
	</ion-row>
	<ion-item href='#' class="activated">
	<ion-icon name="bookmark" slot="start"></ion-icon>
  <ion-label>Perkuliahan / Tutorial kelas A&B<br>4 Maret 2019</ion-label>
  </ion-item>
  <ion-item>
  <ion-item href='#' class="activated">
  <ion-icon name="bookmark" slot="start"></ion-icon>
  <ion-label>Perkuliahan / Tutorial kelas A&B<br>4 Maret 2019</ion-label>
  
	<ion-text>
		<h4><b>Information System Project Management</b></h4><br>
		<h5> Sistem Infrormasi adalah kumpulan komponen-komponen atau alat yang saling berkaitan agar menjadi informasi yang berguna. Komponen-komponen Sistem Informasi sendiri adalah Software, Database, Brainware, Hardware, Prosedur dan Network atau Jaringan. <br>
			<br> Matakuliah ini juga memiliki keterkaitan dengan Project/Proyek sesuai dengan namanya. <br><br><u>Proyek</u> adalah rangkaian tugas atau aktivitas yang memiliki satu tujuan tertentu yang harus diselesaikan sesuai dengan waktu, biaya dan spesifikasi yang telah ditetapkan.</h5>
			<br>
			<h5>Beberapa langkah yang harus dilakukan sebelum membuat sebuah proyek</h5>
		<h5>a. Perencanaan Proyek <br> 
			b. Tahapan Perencanaan Proyek <br> 
			c. Alat Bantu Perencanaan Proyek <br> 
			d. Ruang Lingkup Proyek <br> 
			e. Alat Pemeriksaan Ruang Lingkup Proyek</h5>
	</ion-text>
</ion-content> -->
