<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Enterpreneurship</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
	<img class="center-image" src="/assets/enterpreneurship.jpg" style="border: 1px border-radius: 50%; width: 600px; height: 210px">
    </ion-row>

    <h4><b>Enterpreneurship</b></h4><br>
		<h5> Enterpreneurship atau kewirausahaan adalah proses mengidentifikasi, mengembangkan, dan membawa visi kedalam kehidupan.<br>
		<br>Visi tersebut bisa berupa ide inovatif, peluang, cara yang lebih baik dalam menjalankan sesuatu.</h5>
</ion-content>
