<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">
      Materi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
	<!-- <ion-item>
<ion-avatar slot="start">
<img src="assets/rajib.jpg">
</ion-avatar>
<ion-label>
<h2>Rajib Ghaniy, S.Kom, M.Kom</h2>
<h3>Informartion System Project Management</h3>
<p>Friday,  09.00 - 11.00</p>
<ion-button (click)="goPage5()" color="dark" expand="block">Lihat Materi</ion-button>
</ion-label>
</ion-item> -->

<ion-item>
<ion-avatar slot="start">
<img src="assets/irma.jpg">
</ion-avatar>
<ion-label>
<h2>Irmayansyah, S.Kom, M.Kom</h2>
<h3>Informartion Strategy Management and Acquasition</h3>
<p>Tuesday, 09.00 - 11.00</p>
<ion-button (click)="goPage6()" color="dark" expand="block">Lihat Materi</ion-button>
</ion-label>
</ion-item>

<ion-item>
<ion-avatar slot="start">
<img src="assets/anggra.jpg">
</ion-avatar>
<ion-label>
<h2>Anggra Triawan, S.Kom, M.Kom</h2>
<h3>Aplication Development</h3>
<p>Wednesday, 14.00 - 17.00</p>
<ion-button (click)="goPage7()" color="dark" expand="block">Lihat Materi</ion-button>
</ion-label>
</ion-item>

<ion-item>
<ion-avatar slot="start">
<img src="assets/julio.jpg">
</ion-avatar>
<ion-label>
<h2>Julio Warmansyah, S.Kom, M.MSI</h2>
<h3>Enterpreneurship</h3>
<p>Wednesday, 10.00 - 12.00</p>
<ion-button (click)="goPage8()" color="dark" expand="block">Lihat Materi</ion-button>
</ion-label>
</ion-item>

<ion-item>
<ion-avatar slot="start">
<img src="assets/lis.jpg">
</ion-avatar>
<ion-label>
<h2>Lis Utari, S.Kom, M.Kom</h2>
<h3>Management Of Science</h3>
<p>Monday,  09.00 - 11.00</p>
<ion-button (click)="goPage9()" color="dark" expand="block">Lihat Materi</ion-button>
</ion-label>
</ion-item>
</ion-content>
