<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Application Development</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
	<img class="center-image" src="/assets/app.jpg" style="border: 1px border-radius: 50%; width: 600px; height: 215px">
    </ion-row>
    <ion-text>
		<h4><b>Application Development</b></h4><br>
		<h5>Application Development atau diterjemahkan menjadi Pengembangan Aplikasi<br>
		<br>Matakuliah ini mempelajari bagaimana membuild sebuah aplikasi sederhana.</h5>
	</ion-text>
</ion-content>
