<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Management Of Science</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
	<img class="center-image" src="/assets/mos.jpg" style="border: 1px border-radius: 50%; width: 600px; height: 275px">
    </ion-row>

    <ion-text>
		<h4><b>Management Of Science</b></h4><br>
		<h5>Data adalah Simbolik dari fakta, bisa jadi tidak bermakna, tidak berguna bagi orang lain.<br>
			Informasi adalah kumpulan data yang sudah memiliki makna dan jelas, berguna bagi orang lain/ diri sendiri.<br>
		<br> Matakuliah ini tidak hanya membahas tentang materi, <i>Management of Science</i> juga memiliki materi seperti :<br>
		a. Model Matematis<br>
		b. Linear Programming<br>
		c. Metode Linear Simpleks</h5>
	</ion-text>
</ion-content>
