<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Cari Data Mahasiswa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <form>
          <ion-item>
            <ion-label position="floating">Masukan NPM</ion-label>
            <ion-input type="text" name="npm" [(ngModel)]="npm" required></ion-input>
          </ion-item>
          <ion-button style="margin-block-start: 30px;" expand="block" type="submit" name="sbmt" (click)="cari_data()" color="dark">
            Cari Data
          </ion-button>
        </form>
      </ion-list>
</ion-content>