<ion-header>
  <ion-toolbar color="dark">
    <ion-title>ISSMA</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-row>
	<img class="center-image" src="/assets/isma.jpg" style="border: 1px border-radius: 50%; width: 600px; height: 215px">
</ion-row>
<ion-text>
		<h4><b>Information System Strategic Management and Acquastion</b></h4><br>
		<h5> Sistem Infrormasi Strategi adalah sistem informasi yang menerapkan strategi untuk kemajuan sebuah perusahaan. Sistem Informasi Strategi terbagi menjadi 3 Jaman<br>
			a. Permrosesan Data (1960-an)<br> 
			b. Manajemen (1970-an) <br> 
			c. Sistem Informasi Strategic (awal 1980-an)<br>
			<br> Tingkayan strategi empat level yang berbeda yaitu : <br> 
			1. Strategi Korporasi (Corporation Strategy) <br> 
			2. Strategi Bisnis (Bussiness Strategy) <br> 
			3. Strategi Fungsional (Fungtional Strategy)<br>
			4. Strategi Operasional (Operational Strategy)<br>
			<br> Tiga Macam umum menurut (Porter [1980, 1985]) :<br>
			a. Differentation<br>
			b. Cost Leadership<br>
			c. Focus<br>
			d. Best Cost Provider Strategy (Secara Umum)</h5>
	</ion-text>
</ion-content>
