<ion-content>
    <ion-header>
        <ion-toolbar color="dark">
          <ion-title style="text-align: center;">
           Schedule Of Collage
          </ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
          
          <ion-list lines="none">
           <!-- List of Text Items -->
        <ion-item>
          <ion-icon name="attach"></ion-icon>
          <ion-label>Perkuliahan / Tutorial kelas A&B<br>4 Maret 2019</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="attach"></ion-icon>
          <ion-label>Libur Minggu Tenang<br>22 - 27 April 2019</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="attach"></ion-icon>
          <ion-label>Ujian Tengah Semester Genap<br>29 April - 4 Mei 2019</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="attach"></ion-icon>
          <ion-label>Libur Lebaran<br>27 Mei - 12 Juni 2019</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="attach"></ion-icon>
          <ion-label>Libur Minggu Tenang<br> 15 - 20 Juli 2019</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="attach"></ion-icon>
          <ion-label>Ujian Akhir Semester Genap<br>22 - 27 Juli 2019</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="attach"></ion-icon>
          <ion-label>Libur Semester Genap<br>29 Juli - 31 Agustus 2019</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="attach"></ion-icon>
          <ion-label>Pendaftaran Ujian Perbaikan Genap<br>5 - 10 Agustus 2019</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="attach"></ion-icon>
          <ion-label>Pelaksanaan Ujian Perbaikan<br>14 - 30 Agustus 2019</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="attach"></ion-icon>
          <ion-label>Pra Studi/Matrikulasi<br> 7 September 2019</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="attach"></ion-icon>
          <ion-label>Perwalian dan heregritasi Mahasiswa Lama<br>2 - 6 September 2019</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="attach"></ion-icon>
          <ion-label>Perwalian dan heregritasi Mahasiswa Baru<br>9 - 14 September 2019</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="attach"></ion-icon>
          <ion-label>Mulai Kuliah Ganjil TA 2019/2020<br>16 September 2019</ion-label>
        </ion-item>
      </ion-list>
      </ion-content>
      

</ion-content>
